/* Import Local SCSS Files */
@import 'fonts';

/* color */

$Text-Main: #2c2c2c;
$Lol-Red: #F00028;
$Lol-Gold: #C8AA6E;
$Lol-Brown: #635436;
$Lol-Sky-Blue: #59C1DE;
$Lol-Blue: #0780B9;
$Lol-Teal: #0780B9;
$Lol-Teal-Dark: #0E394A;
$Lol-Navy: #0B2232;
$White: #FFFFFF;
$Light-Black: #1b1b1b;
$Pure-Black: #000000;

/* fonts */

$Title-Font-Bold: 'HeirofLight-Bold';
$Title-Font-Regular: 'HeirofLight-Regular';
$Main-Font: 'Pretendard-Regular';


/* font size */

$h1-px : 70px;
$h2-px : 50px;
$h3-px : 32px;
$h4-px : 24px;
$h5-px : 20px;